.container-banner{
  padding: 10px auto;
  .image-banner{
    padding: 5px;
  }
}
.whole-banner{
  background-color: white;
}
@media screen and (min-device-width: 1200px){
  .image-one img{
    width: 780px;
  }
  .image-two img{
    width: 400px;
  }
}
@media screen and (min-device-width: 641px) and (max-device-width: 1198px) and (-webkit-min-device-pixel-ratio: 1) {
  .container-banner{
    flex-direction: column;
  }
  .image-one img{
    width: 100vw;
  }
  .image-two img{
    width: 50%;
  }
}
@media screen and (min-device-width: 360px) and (max-device-width: 640px) {
  .container-banner{
    flex-direction: column;
  }
  .image-one {
    padding: 0 !important;
    img{
    width: 100vw;
  }}
  .image-two img{
    width: 50%;
  }
}