.filter-product{
  padding: 10px;
  margin-right: 10px;
  
  li input[type=radio]{
    margin-right: 7px;
  }
  ul.khoang-gia{
    input{
      border-radius: 5px;
      padding: 10px;
      border: 1px solid;
      margin: 5px;
      height: 30px;
      width: 100%;
    }
  }
  button{
    height: 40px;
    width: 90%;
    margin: 0 auto;
    font-size: 1.1em;
    margin-top: 20px;
    color: white;
    border: 1px solid white;
    background-color: red;
    &:hover{
      background-color: rgba(255, 0, 0, 0.7);

    }
  }
}

@media screen and (min-device-width: 641px){
  .filter-product{
    ul{
      padding: 20px 0;
      margin: 20px 0;
      border-bottom: 1px solid #00000017;
    }  
    ul> li:first-child{
      font-size: 1.1em;
    }
    ul > li:nth-child(n+2){
      padding: 10px;
      color: #303a52;
    }
  }
  .listen-click-out-side{
    display: none !important;
  }
  .btn-loc{
    display: none;
  }
}
@media screen and (min-device-width: 641px) and (max-device-width: 1198px) and (-webkit-min-device-pixel-ratio: 1) {
  
}
@media screen and (min-device-width: 160px) and (max-device-width: 640px) {
  .filter-product{
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f5f5f5;
    z-index: 200;
    width: 200px;
    ul{
      padding: 10px 0;
      margin: 10px 0;
      border-bottom: 1px solid #00000017;
    }
    ul> li:first-child{
      font-size: 1.1em;
    }
    ul > li:nth-child(n+2){
      padding: 10px;
      color: #303a52;
    }
    button{
      margin: 0 auto !important;
    }
  }
  .listen-click-out-side{
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(48, 48, 48, 0.253);
    z-index: 160;
  }
  button.btn-loc{
    position: absolute;
    right: 0;
    top: 150px;
    height: 40px;
    width: 20%;
    margin: 0 auto;
    font-size: 1.1em;
    margin-top: 20px;
    color: white;
    border: 1px solid white;
    background-color: red;
    &:hover{
      background-color: rgba(255, 0, 0, 0.7);

    }
  }
}