.list-flashdeal {
  margin: 20px auto;
  background-color: #fff;
  h2 {
    padding: 20px;
    border-bottom: 1px solid whitesmoke;
    .time-down{
      background-color: #303a52;
      color: #f0f0f0;
      border-radius: 5px;
      font-size: 0.8em;
      padding: 0 2  px;
    }
  }
  .container-item-flash {
    width: 100%;
    flex-wrap: nowrap;
    overflow: scroll;
    .flash-item {
      position: relative;
      min-width: 180px;
      margin: 10px auto;
      .wrap-img {
        min-height: 170px;
        width: 90%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      .price {
        padding: 5px;
        font-size: 1.3em;
        text-align: center;
      }
      .sale-percent {
        position: absolute;
        right: 0;
        z-index: 100;
        font-weight: 500;
        width: 60px;
        line-height: 25px;
        text-align: center;
      }
      .load-bar {
        height: 15px;
        border-radius: 10px;
        width: 80%;
        background-color: #278ea5;
        margin-bottom: 15px;
        div {
          background-color: #21e6c1;
          font-size: small;
          height: 100%;
          text-align: center;
          border-radius: 50px;
          float: left;
        }
      }
      &::after {
        z-index: 10;
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 50% 85%);
        content: "";
        border: 30px solid #ffd615;
        position: absolute;
        right: 0;
        top: 0;
      }
      &:hover {
        transition: all 0.1s ease;
        box-shadow: 2px 0px 20px 0px #e3e3e3;
      }
    }
  }
}
@media screen and (min-device-width: 1200px) {

}

@media screen and (min-device-width: 641px) and (max-device-width: 1198px) and (-webkit-min-device-pixel-ratio: 1) {
  
}
@media screen and (min-device-width: 360px) and (max-device-width: 640px) {
  .flash-item{
    min-width: 124px !important;
    .sale-percent{
      width: 36px !important;
      line-height: 17px !important;
      font-size: 0.9em !important;
    }
    .wrap-img{
      min-height: 110px !important;
    }
    .price{
      font-size: 1em !important;
    }
    .da-ban{
      overflow: hidden;
    }
    &:after{
      border: 18px solid #ffd615 !important;
    }
  }
  .list-flashdeal{
    margin: 10px 0;
    h2{
      padding: 10px;
      font-size: 1.3em;
    }

  }
}