.whole-footer {
  border-top: 2px solid #ffd615;
  background-color: white;
  width: 100vw;
}

.container-footer {
  
  .copy-right {
    text-align: center;
    background-color: #c5e3f6;
    height: 30px;
    line-height: 30px;
  }
  .customer-care {
    justify-content: space-around;
    padding: 20px 0 0 20px;
    ul li:nth-child(n + 2) {
      margin: 20px 10px;
      a {
        padding: 10px;
        color: #303a52;
        &:hover {
          color: #ee4d2d;
        }
      }
    }
    .thanh-toan {
      li:nth-child(n + 2) {
        background-image: url(../images//item/ac3a8f576164d64b185ada4409e3d5d2.png);
        height: 141px;
        width: 190px;
        background-position: 0px -8px;
        a {
          display: block;
          text-align: center;
          color: #c5e3f6;
          height: 100%;
          width: 100%;
        }
        border-radius: 10px;
        &:hover {
          a {
            color: white;
          }
          border-radius: 0px;
          transition: all 0.2s ease-in;
        }
      }
    }
  }
}
@media screen and (min-device-width: 641px) {

}
@media screen and (min-device-width: 360px) and (max-device-width: 640px) {
  .customer-care{
    flex-wrap: wrap;
  }
  ul{
    margin: 10px;
  }
  ul>li:first-child {
    margin-left: 0;
  }
}