.whole-home-search{
  min-height: 570px;
  background-color: #f5f5f5;
  padding: 20px;
  align-items: flex-start;
}
.container-home-search{
  display: flex;
}
@media screen and (min-device-width: 160px) and (max-device-width: 640px) {
  .container-home-search{
    display: block;
  }
  .whole-home-search{
    padding: 0px !important;
  }
}