.head-table {
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  background: white;
  margin: 10px 0px;
  background: white;
  line-height: 50px;
  .head-row {
    display: flex;
    padding: 0 10px;
    input {
      margin: 0 10px 0 0;
    }
  }
}
.head-table, .body-table{
  ul > li:nth-child(n+2){
    text-align: center
  }
  
  ul > li {
    flex: 1;
  }
  ul > li:first-child {
    flex: 4;
  }
}
.head-row, .row{
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
}
.row {
  padding: 10px 0;
  background: white;
  margin: 10px 0;
  display: flex;
  align-items: center;
  .wrap-sp a{
    align-items: center;
    //width:100%;
  }
  //   display: flex;
  //   & > * {
  //     margin: 0 10px;
  //   }
  //   align-items: center;
  //   img {
  //     width: 100px;
  //   }
  // }
  li:nth-child(3) {
    // display: flex;
    // justify-content: center;
    p {
      min-width: 20px;
      text-align: center;
    }
    &>*{
      margin: 0 10px
    }
  }
  button {
    font-size:1em;
    outline: none;
    border: none;
    background-color: transparent;
  }
}
@media screen and (min-device-width: 641px) {
  .row li:nth-child(3) {
    display: flex;
    justify-content: center;
  }
  .row .wrap-sp {
    display: flex;
    & > * {
      margin: 0 10px;
    }
    align-items: center;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
@media screen and (min-device-width: 160px) and (max-device-width: 640px) {
  .head-table{
    display: none;
  }
  .row ul>li:nth-child(n+4){
    display: none !important;
  }
  .row .wrap-sp {
    display: flex;
    & > * {
      margin: 0 10px;
    }
    align-items: center;
    img {
      width: 100px;
    }
  }
}