.list-product {
  margin: 20px auto;
  background-color: #fff;
  h2 {
    padding: 20px;
    border-bottom: 1px solid whitesmoke;
    .time-down {
      background-color: #303a52;
      color: #f0f0f0;
      border-radius: 5px;
      font-size: 0.8em;
      padding: 0 2 px;
    }
  }
  .container-item-product {
    width: 100%;
    .product-item {
      position: relative;
      width: 190px;
      height: 260px;
      overflow: hidden;
      margin: 10px auto;
      margin-bottom: 20px;
      border: 1px solid #cb3b3b;
      .wrap-img {
        height: 170px;
        width: 90%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      .price {
        padding: 5px;
        font-size: 1.1em;
        text-align: left;
      }
      .sole {
        font-size: 0.8em;
        letter-spacing: 0.001em;
        color: #303a52;
      }
      .product-name {
        color: black;
        height: 32px;
        overflow: hidden;
        padding: 0 5px;
        text-align: center;
        font-size: 0.9em;
      }
      .sale-percent {
        position: absolute;
        right: 0;
        z-index: 100;
        width: 40px;
        height: 40px;
        line-height: 15px;
        font-weight: 500;
        font-size: 0.9em;
        text-align: center;
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 50% 85%);
        background-color: #feff89;
      }
      .load-bar {
        height: 15px;
        border-radius: 10px;
        width: 80%;
        background-color: #278ea5;
        div {
          background-color: #21e6c1;
          font-size: small;
          height: 100%;
          text-align: center;
          border-radius: 50px;
          float: left;
        }
      }
      &:hover {
        transition: all 0.1s ease;
        box-shadow: 2px 0px 20px 0px #e3e3e3;
      }
      &:hover > .more-item {
        display: flex;
      }
      .more-item {
        display: none;
        button {
          width: 100%;
          height: 25px;
          margin: 0px auto;
          border: none;
          font-size: 0.9em;
          background-color: #ee4d2d;
          color: white;
        }
      }
      &:hover .more-item {
        display: block;
      }
    }
  }
  .btn-xem-them {
    padding: 10px 0 20px 0;
    a {
      display: block;
      width: 300px;
      line-height: 45px;
      height: 45px;
      border: 1px solid;
      border-radius: 30px;
      text-align: center;
      &:hover {
        color: white;
        background-color: #ee4d2d;
        transition: all 0.3s ease;
      }
    }
  }
}
@media screen and (min-device-width: 360px) and (max-device-width: 1198px) {
  .more-item{
    display: block !important;
    border-top: 1px solid red;
    button{
      background-color: white !important;
      color: red !important;
    }
  }

}
@media screen and (min-device-width: 640px) {
  .list-product{
    h2>span{
      display: none;
    }
  }
}
@media screen and (min-device-width: 360px) and (max-device-width: 640px) {
  .product-item{
    max-width: 170px !important;
    margin: 5px !important;
  }
  .container-item-product{
    justify-content: center;
  }
  .list-product{
    //margin: 0 !important;
    margin: 10px 0;
    h2{
      padding: 10px;
      font-size: 1.3em;
    }
  }
}