.list-category {
  margin: 20px auto;
  background-color: #fff;
  h2 {
    padding: 20px;
    border-bottom: 1px solid whitesmoke;
  }
  .container-item-category {
    width: 100%;
    height: 340px;
    
    flex-direction: column;
    .category-item {
      height: 50%;
      width: 100px;
      padding: 10px;
      border: 1px solid whitesmoke;
      img {
        width: 90%;
        border-radius: 500px;
        object-fit: contain;
      }
      .name-category {
        color: black;
        padding: 5px;
        font-size: 0.9em;
        text-align: center;
      }
      &:hover {
        transition: all 0.1s ease;
        box-shadow: 2px 0px 20px 0px #e3e3e3;
      }
    }
  }
}
@media screen and (min-device-width: 641px) and (max-device-width: 1198px) and (-webkit-min-device-pixel-ratio: 1) {
  .container-item-category{
    overflow: scroll;
  }
}
@media screen and (min-device-width: 360px) and (max-device-width: 640px) {
  .category-item{
    height: 150px !important;
  }
  .container-item-category{
    height: 300px !important;
    overflow: scroll;
  }
  .list-category{
    margin: 0 !important;
    h2{
      padding: 10px;
      font-size: 1.3em;
    }
  }
}