input:focus {
  outline-width: 0;
}
.whole-lock-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(48, 48, 48, 0.7);
  z-index: 2000;
  overflow: hidden;
}

.container-lock-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  div {
    margin: 25px;
  }
  form {
    position: relative;
    background-color: rgba(245, 245, 245, 0.89);
    padding: 40px 20px;
    border-radius: 5px;
    .btn-close{
      margin: 10px !important;
      font-weight: 500;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50px;
      text-align: center;
      line-height: 30px;
      height: 30px;
      width: 30px;
      background-color: rgba(245, 245, 245, 0.9);
    }
  }
  form > div:nth-child(4){
    margin: 0 25px !important;
  }
  input {
    padding: 10px;
    font-size: 1.1em;
    width: 100%;
    border: none;
    //color: #fff;
    background-color: transparent;
    border-bottom: 3px solid #ffd615;
  }
  button {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 0px;
    border: 1px solid;
    background-color: #f5f5f5;
    border-radius: 5px;
    &:hover {
      background-color: red;
      color: white;
    }
  }
}
@media screen and (min-device-width: 641px) {
  form {
    min-width: 500px;
  }
}
@media screen and (min-device-width: 360px) and (max-device-width: 640px) {
  .container-lock-in{
    height: 100vh;
    form {
      width: 100vw;
      height: 100vh;
    }
    input{
      border-bottom: 1px solid #ffd615 !important;
    }
  }
}
