.whole-bar {
  background-color: #ffd615;
}
.logo {
  color: #0e153a;
  height: 100%;
  border-radius: 5px;
  background-image: url(../images/logo/Asset115px.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bar {
  width: 100%;
}

.bar1 {
  & > * {
    padding: 10px;
    color: red;
  }
  .input-search > input {
    width: 100%;
    display: block;
  }
  .wrap-popup {
    position: relative;
    transition: all 0 ease;
    .notification-popup {
      display: none;
      position: absolute;
      z-index: 201;
      background: #fff;
      color: black;
      padding: 10px;
      h3 {
        padding-bottom: 5px;
      }
      li {
        padding: 5px 20px;
      }
    }
    &:hover .notification-popup {
      display: block;
    }
  }
}
.bar2 {
  padding-bottom: 10px;
  form {
    position: relative;
    input {
      padding: 10px;
      border: 1px solid;
      border-radius: 5px;
      height: 100%;
    }
    a {
      z-index: 200;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      height: 100%;
      width: auto;
      border: 1px solid red;
      border-radius: 0 5px 5px 0;
      background-color: #ffd615;
      &:hover {
        background-color: red;
        color: white;
      }
    }
  }
  a {
    padding: 10px;
  }
}
@media screen and (min-device-width: 1200px) {
  .narbar {
    padding: 5px auto;
    .logo {
      font-size: x-large;
      font-weight: 500;
      min-width: 100px;
      margin-right: 20px;
      line-height: 76px;
      text-align: center;
    }
  }
  .notification-popup {
    width:500px;
    .btn-close{
      display: none;
    }
  }
}
@media screen and (min-device-width: 641px) and (max-device-width: 1198px) and (-webkit-min-device-pixel-ratio: 1) {
  .narbar {
    padding: 5px auto;
    .logo {
      font-size: x-large;
      font-weight: 500;
      min-width: 100px;
      margin-right: 20px;
      line-height: 76px;
      text-align: center;
    }
  }
  .notification-popup {
    width:500px;
    .btn-close{
      display: none;
    }
  }
}
@media screen and (min-device-width: 160px) and (max-device-width: 640px) {
  .notification-popup {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
  }
  .narbar {
    padding: 5px auto;
    .logo {
      display: none !important;
      font-size: large;
    }
  }
  .bar2 {
    padding: 10px;
  }
}
