.hoi-dap-sp {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  p {
    padding: 10px 10px;
  }
  .cau-hoi {
    font-weight: 500;
  }
  .cau-tra-loi {
    font-weight: 300;
    padding-left: 20px;
  }
  .da-tra-loi {
    font-weight: 300;
    padding-left: 20px;
  }
  .btn {
    font-weight: 300;
    text-align: center;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border: none;
    background: none;
    //border: 1px solid $mau-sang;
    border-radius: 10px;
  }
  .nhap-cau-tra-loi {
    //margin: 20px 0;
    height: 45px;
    width: 80%;
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(224, 224, 224);
  }
  .btn-gui-cau-hoi {
    float: right;
    height: 45px;
    width: 19%;
    padding: 0 20px;
    background-color: #5aa6ecd7;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(224, 224, 224);
  }
}
@media (min-width: 1271px) {
  .hoi-dap-sp,
  .thong-tin-chi-tiet-sp,
  .xem-sp {
    width: 1270px;
  }
  .mobile-show {
    display: none !important;
  }
  .tablet-show {
    display: none !important;
  }
  .nhan-xet-sp{
    width: 1270px;
  }
}
