.thong-tin-chi-tiet-sp {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 800px;
    tbody {
      width: 1000px;
      tr:nth-child(2n) {
        background-color: #f5f5f5;
      }
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .thong-tin-chi-tiet-sp {
    padding: 0 !important;
  }
}
@media (min-width: 481px) and (max-width: 1270px) {
  .thong-tin-chi-tiet-sp table {
    width: 100% !important;
  }
}
@media (min-width: 1271px) {
}