.whole-sort-product{
  width: 100%;
  background-color: back;
  background-color: #00000008;
  padding: 10px;
  line-height: 40px;
  &>ul{
    display: flex;
    width: 60%;
    margin: auto 0;
    &>li:nth-child(n+2){
      background-color: white;
      height: 40px;
      width: 100px;
      text-align: center;
      cursor: default;
    }
    .active{
      color: white;
      background-color: red !important;
      button{
        color: white;
      }
    }
  }
}
.btn-default{
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  &:focus, &:active{
    border: none;
    outline: none;
  }
}
@media screen and (min-device-width: 160px) and (max-device-width: 640px) {
  .whole-sort-product{
    ul{
      width: 100% !important;
    }
    ul>li:first-child{
      display: none;
    }

  }
}