.top-products {
  margin: 20px auto;
  background-color: #fff;
  h2 {
    padding: 20px;
    border-bottom: 1px solid whitesmoke;
    .time-down{
      background-color: #303a52;
      color: #f0f0f0;
      border-radius: 5px;
      font-size: 0.8em;
      padding: 0 2  px;
    }
  }
  .container-top-product {
    width: 100%;
    .flash-item {
      position: relative;
      width: 180px;
      min-height: 175px;
      margin: 10px auto;
      .wrap-img {
        min-height: 170px;
        width: 90%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      .product-name{
        color: black;
        height: 32px;
        overflow: hidden;
        padding: 0 5px;
        text-align: center;
        font-size: 1.1em;
      }
      .sale-percent {
        position: absolute;
        right: 0;
        z-index: 100;
        font-weight: 500;
        width: 50px;
        line-height: 25px;
        text-align: center;
      }
      &::after {
        z-index: 10;
        clip-path: polygon(0 50%, 0 0, 100% 0, 100% 50%, 50% 100%);
        content: "";
        border: 25px solid #ffd615;
        position: absolute;
        right: 0;
        top: 0;
      }
      &:hover {
        transition: all 0.1s ease;
        box-shadow: 2px 0px 20px 0px #e3e3e3;
      }
    }
  }
}
@media screen and (min-device-width: 641px) and (max-device-width: 1198px) and (-webkit-min-device-pixel-ratio: 1) {
  .container-top-product{
    flex-wrap: nowrap !important;
    overflow-x: scroll;
  }
}
@media screen and (min-device-width: 360px) and (max-device-width: 640px) {
  .container-top-product{
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
  }
  .flash-item{
    min-height: 150px !important;
  }
  .top-products{
    margin: 10px 0;
    h2{
      padding: 10px;
      font-size: 1.3em;
    }
  }
}