extends layout
block content
  .container
    h3 Promotions 
    table.table
      thead
        tr
          th(scope='col') id
          th(scope='col') tinhTp
          th(scope='col') quanHuyen
          th(scope='col') phuongXa
          th(scope='col') duongThon
          th(scope='col') soNha
          th(scope='col') action
      tbody
        each e in data
          tr
            td=e.id
            td=e.tinhTp
            td=e.quanHuyen
            td=e.phuongXa
            td=e.duongThon
            td=e.soNha
            td
              .btn-group(role='group', aria-label='Basic example')
                a(href="/locations/remove/"+e.id)
                  button.btn.btn-danger(type='button') del
        //- tr
        //-   td none
        //-   td
        //-     input.form-control(type='text', name='name' form="add-one" placeholder="string")
        //-   td
        //-     input.form-control(type='text', name='percent' form="add-one" placeholder="number < 100")
        //-   td
        //-     input.form-control(type='text', name='money_sale' form="add-one" placeholder="number (hàng nghìn)")
        //-   td
        //-     input.form-control(type='text', name='freeship' form="add-one" placeholder="0 or 1")
        //-   td
        //-     span
        //-       button.btn.btn-primary(type='submit' form="add-one") Add
    //- form#add-one(method='POST' action='/promotions/add')