extends layout
block content
  .container
    form(method="post")
      .form-group
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email' name="email" value=email||"")
      .form-group
        label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password' name="password" value=password||"")
      if (err)
        .alert.alert-danger(role='alert')=err
      button.btn.btn-primary(type='submit') Submit
    a(href="/signup") Sign up