* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: red;
}

.maxwidth {
  width: 1200px;
}
.flex{
  display: flex;
}
.clear-float{
  clear: both;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-10 {
  flex: 10;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}
.full-width{
  width: 100%;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  right: 0%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip {
  position: relative;
  display: block;
  //border-bottom: 1px dotted black;
}


@media screen and (min-device-width: 1200px) {
}
@media screen and (min-device-width: 641px) and (max-device-width: 1198px) and (-webkit-min-device-pixel-ratio: 1) {
  .full-width, .maxwidth{
    width: 100% !important;
  }
}
@media screen and (min-device-width: 360px) and (max-device-width: 640px) {
  .full-width, .maxwidth{
    width: 100% !important;
  }
}
