extends layout.pug

block narbar
  .container
    h2 create user name
    if (errors)
      each e in errors
        div.alert.alert-danger=e 
    form.flex-colume(action="/home/create" method="post" enctype="multipart/form-data")
      div.form-group
        label(for="name") Nhap name: 
        input.form-control(type="text" name="name" placeholder="Nhap ten" value=values?values.name:"")
      div.form-group
        label(for="name") Nhap phone: 
        input.form-control(type="text" name="phone" placeholder="Nhap sdt" value=values?values.phone:"")
      div.form-group
        label(for="name") Nhap email: 
        input.form-control(type="email" name="email" placeholder="Nhap email" value=values?values.email:"")
      div.form-group
        label(for="name") Nhap password: 
        input.form-control(type="password" name="password" placeholder="Nhap password" value=values?values.password:"")
      div.form-group
        label(for="name") Avatar: 
        input.form-control(type="file" name="avatar" placeholder="Chon file")
      button.btn.btn-success(type="submit") Up file 