extends layout.pug

block narbar
  .container
    form(action="/home/search" method="GET")
      div.btn-group(role="group")
        input(type="text", name="name" value=input)
        button.btn.btn-primary(type="submit") Search
    table.table
      thead
        tr
          th(scope='col') Avatar
          th(scope='col') Name
          th(scope='col') Phone
          th(scope='col') View
      tbody
        each e in names
          tr  
            td
              img(src=e.image height="32px")
            td=e.name
            td=e.phone
            td 
              a(href=`/home/user/${e.id}`) view
              