extends layout

block narbar  
  .container
    if (errors)
        div.alert.alert-danger=errors
    form(action='login' method="POST")
      .form-group
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(name="email" type='email' placeholder='Enter email' value=values?values.email:"")
        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
      .form-group
        label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(name="password" type='password' placeholder='Password' value=values?values.password:"")
      .form-check
        input#exampleCheck1.form-check-input(type='checkbox')
        label.form-check-label(for='exampleCheck1') Check me out
      button.btn.btn-primary(type='submit') Submit