extends layout

block narbar
  div.container.pt-5.d-flex.flex-wrap.justify-content-around
    each e in products
      .card(style='width: 18rem;').mt-5
        img.card-img-top(src=e.image alt='Card image cap')
        .card-body
          h5.card-title=e.name
          p.card-text=e.description 
          a.btn.btn-primary(href='/card/add/'+e.id) Add to cart 
            span=totalCard
  div.container.pt-3
    nav(aria-label='Page navigation example')
      ul.pagination
        li.page-item
          a.page-link(href="/home/product?page="+pagi[0]) Previous
        li.page-item
          a.page-link(href="/home/product?page=" + pagi[0])=pagi[0]
        li.page-item
          a.page-link(href="/home/product?page=" + pagi[1])=pagi[1]
        li.page-item
          a.page-link(href="/home/product?page=" + pagi[2])=pagi[2]
        li.page-item
          a.page-link(href="/home/product?page="+pagi[2]) Next
