$mau-nen: #f0f0f0;
$mau-sang: #2f89fc;

.qc-contain {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.qc-danh-muc {
  a {
    width: 100%;
    height: 100%;
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}
.xem-sp {
  background-color: white;
  display: flex;
  padding: 20px 0;
  .xem-hinh {
    border-right: 1px solid $mau-nen;
    flex: 4;
    display: flex;
    .ds-hinh-anh {
      flex: 1;
      padding: 10px 20px;
      > li {
        width: 100%;
        img {
          width: 100%;
          border-radius: 5px;
          border: 1px solid #2f89fc;
        }
      }
    }
    .hinh-chinh {
      flex: 7;
      img {
        width: 100%;
      }
    }
  }
  .thong-tin-co-ban {
    flex: 6;
    padding: 10px 20px;
    .product-name {
      padding: 10px;
      font-weight: 300;
    }
    .product-price-sale {
      padding: 10px 10px 0 10px;
      color: red;
      font-weight: 500;
    }
    .product-price {
      padding: 0 10px 10px 10px;

      text-decoration: line-through;
      font-weight: 300;
      border-bottom: 1px solid $mau-nen;
    }
    .danh-gia {
      display: flex;
      justify-content: start;
      padding: 0 10px 10px 10px;

      border-bottom: 1px solid $mau-nen;
      li {
        width: 15px;
        margin: 0;
        color: #ffc120;
      }
      li.so-nhan-xet {
        padding-left: 10px;
      }
      li:last-child {
        color: black;
        width: max-content;
      }
    }
    .uu-diem-sp {
      padding: 10px 0 10px 20px;
      border-bottom: 1px solid $mau-nen;
      li {
        list-style-type: circle;
        padding: 5px;
      }
    }
    .chon-mau-sac {
      padding: 10px;
      border-bottom: 1px solid $mau-nen;
      > ul {
        display: flex;
        justify-content: flex-start;
        li {
          margin: 10px 10px;
          width: 80px;
          border: 1px solid $mau-sang;
          border-radius: 5px;
          padding: 5px 20px;
          text-align: center;
          &:hover {
            cursor: default;
          }
        }
      }
    }
    .chon-so-luong {
      border-bottom: 1px solid $mau-nen;
      padding: 0 10px;
      position: relative;
      .group-btn-so-luong {
        display: flex;
        justify-content: flex-start;
        padding: 20px 0;
        p {
          cursor: default;
          line-height: 30px;
          height: 30px;
          margin: 0;
          width: 40px;
          text-align: center;
          border: 1px solid $mau-sang;
        }
        p:first-child {
          border-radius: 5px 0 0 5px;
        }
        p:last-child {
          border-radius: 0 5px 5px 0;
        }
      }
      .btn-mua {
        position: absolute;
        top: 30%;
        right: 20%;
        border-radius: 5px;
        background-color: $mau-sang;
        height: 40px;
        width: 200px;
        text-align: center;
        color: white;
        line-height: 40px;
      }
    }
  }
}
.thong-tin-chi-tiet-sp {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 800px;
    tbody {
      width: 1000px;
      tr:nth-child(2n) {
        background-color: $mau-nen;
      }
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
      }
    }
  }
}
.hoi-dap-sp {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  p {
    padding: 10px 10px;
  }
  .cau-hoi {
    font-weight: 500;
  }
  .cau-tra-loi {
    font-weight: 300;
    padding-left: 20px;
  }
  .da-tra-loi {
    font-weight: 300;
    padding-left: 20px;
  }
  .btn {
    font-weight: 300;
    text-align: center;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border: none;
    background: none;
    //border: 1px solid $mau-sang;
    border-radius: 10px;
  }
  .nhap-cau-tra-loi {
    //margin: 20px 0;
    height: 45px;
    width: 80%;
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(224, 224, 224);
  }
  .btn-gui-cau-hoi {
    float: right;
    height: 45px;
    width: 19%;
    padding: 0 20px;
    background-color: $mau-sang;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(224, 224, 224);
  }
}
.nhan-xet-sp {
  background-color: white;
  width: 100vw;
  margin-top: 20px;
  padding: 20px;
  h3 {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  table {
    max-width: 100vw !important;
  }
  .thong-tin-chi-tiet-sp {
    padding: 0 !important;
  }
  .danh-rieng-title {
    //height: 50px !important;
    //line-height: 50px;
    padding-left: 20px;
  }
  .xem-sp {
    display: block;
  }
  .xem-hinh {
    flex-direction: column-reverse;
  }
  .ds-hinh-anh {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    li {
      width: 20vw !important;
      img {
        width: 100%;
      }
    }
  }
  .hinh-chinh > img {
    width: 95vw !important;
  }
  .mobile-hidden {
    display: none !important;
  }
  .mobile-show {
    display: block !important;
  }
  .btn-mua {
    position: absolute;
    top: 30%;
    right: 0 !important;
    border-radius: 5px;
    background-color: $mau-sang;
    height: 40px;
    width: 150px !important;
    text-align: center;
    color: white;
    line-height: 40px;
  }
  .input-mobile {
    width: 100vw;
    padding: 0 5px;
    display: flex !important;
    > input {
      flex: 8;
      height: 40px;
      padding-left: 10px;
      border: none;
      border-radius: 10px 0 0 10px;
    }
    > .search-icon {
      flex: 1.5;
      height: 40px;
      line-height: 40px;
      border-radius: 0 10px 10px 0;
      background-color: white;
      text-align: center;
      i {
        color: $mau-sang;
      }
    }
  }
  .product-name {
    height: auto !important;
  }
}
@media (min-width: 481px) and (max-width: 1270px) {
  .mobile-show {
    display: none !important;
  }
  .xem-sp {
    flex-direction: column;
  }
  .thong-tin-chi-tiet-sp table {
    width: 100% !important;
  }
  .footer-contain ul{
    list-style-type: none !important;
  }
}
@media (min-width: 1271px) {
  .hoi-dap-sp,
  .thong-tin-chi-tiet-sp,
  .xem-sp {
    width: 1270px;
  }
  .mobile-show {
    display: none !important;
  }
  .tablet-show {
    display: none !important;
  }
  .nhan-xet-sp{
    width: 1270px;
  }
}
