.qc-contain {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.qc-danh-muc a {
  width: 100%;
  height: 100%;
}

.qc-danh-muc a img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.xem-sp {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.xem-sp .xem-hinh {
  border-right: 1px solid #f0f0f0;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.xem-sp .xem-hinh .ds-hinh-anh {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 20px;
}

.xem-sp .xem-hinh .ds-hinh-anh > li {
  width: 100%;
}

.xem-sp .xem-hinh .ds-hinh-anh > li img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #2f89fc;
}

.xem-sp .xem-hinh .hinh-chinh {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.xem-sp .xem-hinh .hinh-chinh img {
  width: 100%;
}

.xem-sp .thong-tin-co-ban {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding: 10px 20px;
}

.xem-sp .thong-tin-co-ban .product-name {
  padding: 10px;
  font-weight: 300;
}

.xem-sp .thong-tin-co-ban .product-price-sale {
  padding: 10px 10px 0 10px;
  color: red;
  font-weight: 500;
}

.xem-sp .thong-tin-co-ban .product-price {
  padding: 0 10px 10px 10px;
  text-decoration: line-through;
  font-weight: 300;
  border-bottom: 1px solid #f0f0f0;
}

.xem-sp .thong-tin-co-ban .danh-gia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #f0f0f0;
}

.xem-sp .thong-tin-co-ban .danh-gia li {
  width: 15px;
  margin: 0;
  color: #ffc120;
}

.xem-sp .thong-tin-co-ban .danh-gia li.so-nhan-xet {
  padding-left: 10px;
}

.xem-sp .thong-tin-co-ban .danh-gia li:last-child {
  color: black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.xem-sp .thong-tin-co-ban .uu-diem-sp {
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.xem-sp .thong-tin-co-ban .uu-diem-sp li {
  list-style-type: circle;
  padding: 5px;
}

.xem-sp .thong-tin-co-ban .chon-mau-sac {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.xem-sp .thong-tin-co-ban .chon-mau-sac > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.xem-sp .thong-tin-co-ban .chon-mau-sac > ul li {
  margin: 10px 10px;
  width: 80px;
  border: 1px solid #2f89fc;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
}

.xem-sp .thong-tin-co-ban .chon-mau-sac > ul li:hover {
  cursor: default;
}

.xem-sp .thong-tin-co-ban .chon-so-luong {
  border-bottom: 1px solid #f0f0f0;
  padding: 0 10px;
  position: relative;
}

.xem-sp .thong-tin-co-ban .chon-so-luong .group-btn-so-luong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 0;
}

.xem-sp .thong-tin-co-ban .chon-so-luong .group-btn-so-luong p {
  cursor: default;
  line-height: 30px;
  height: 30px;
  margin: 0;
  width: 40px;
  text-align: center;
  border: 1px solid #2f89fc;
}

.xem-sp .thong-tin-co-ban .chon-so-luong .group-btn-so-luong p:first-child {
  border-radius: 5px 0 0 5px;
}

.xem-sp .thong-tin-co-ban .chon-so-luong .group-btn-so-luong p:last-child {
  border-radius: 0 5px 5px 0;
}

.xem-sp .thong-tin-co-ban .chon-so-luong .btn-mua {
  position: absolute;
  top: 30%;
  right: 20%;
  border-radius: 5px;
  background-color: #2f89fc;
  height: 40px;
  width: 200px;
  text-align: center;
  color: white;
  line-height: 40px;
}

.thong-tin-chi-tiet-sp {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
}

.thong-tin-chi-tiet-sp table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 800px;
}

.thong-tin-chi-tiet-sp table tbody {
  width: 1000px;
}

.thong-tin-chi-tiet-sp table tbody tr:nth-child(2n) {
  background-color: #f0f0f0;
}

.thong-tin-chi-tiet-sp table tbody td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.hoi-dap-sp {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}

.hoi-dap-sp p {
  padding: 10px 10px;
}

.hoi-dap-sp .cau-hoi {
  font-weight: 500;
}

.hoi-dap-sp .cau-tra-loi {
  font-weight: 300;
  padding-left: 20px;
}

.hoi-dap-sp .da-tra-loi {
  font-weight: 300;
  padding-left: 20px;
}

.hoi-dap-sp .btn {
  font-weight: 300;
  text-align: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: none;
  background: none;
  border-radius: 10px;
}

.hoi-dap-sp .nhap-cau-tra-loi {
  height: 45px;
  width: 80%;
  padding: 0 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e0e0e0;
}

.hoi-dap-sp .btn-gui-cau-hoi {
  float: right;
  height: 45px;
  width: 19%;
  padding: 0 20px;
  background-color: #2f89fc;
  color: white;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e0e0e0;
}

.nhan-xet-sp {
  background-color: white;
  width: 100vw;
  margin-top: 20px;
  padding: 20px;
}

.nhan-xet-sp h3 {
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  table {
    max-width: 100vw !important;
  }
  .thong-tin-chi-tiet-sp {
    padding: 0 !important;
  }
  .danh-rieng-title {
    padding-left: 20px;
  }
  .xem-sp {
    display: block;
  }
  .xem-hinh {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .ds-hinh-anh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ds-hinh-anh li {
    width: 20vw !important;
  }
  .ds-hinh-anh li img {
    width: 100%;
  }
  .hinh-chinh > img {
    width: 95vw !important;
  }
  .mobile-hidden {
    display: none !important;
  }
  .mobile-show {
    display: block !important;
  }
  .btn-mua {
    position: absolute;
    top: 30%;
    right: 0 !important;
    border-radius: 5px;
    background-color: #2f89fc;
    height: 40px;
    width: 150px !important;
    text-align: center;
    color: white;
    line-height: 40px;
  }
  .input-mobile {
    width: 100vw;
    padding: 0 5px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .input-mobile > input {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
  }
  .input-mobile > .search-icon {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    height: 40px;
    line-height: 40px;
    border-radius: 0 10px 10px 0;
    background-color: white;
    text-align: center;
  }
  .input-mobile > .search-icon i {
    color: #2f89fc;
  }
  .product-name {
    height: auto !important;
  }
}

@media (min-width: 481px) and (max-width: 1270px) {
  .mobile-show {
    display: none !important;
  }
  .xem-sp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thong-tin-chi-tiet-sp table {
    width: 100% !important;
  }
  .footer-contain ul {
    list-style-type: none !important;
  }
}

@media (min-width: 1271px) {
  .hoi-dap-sp,
  .thong-tin-chi-tiet-sp,
  .xem-sp {
    width: 1270px;
  }
  .mobile-show {
    display: none !important;
  }
  .tablet-show {
    display: none !important;
  }
  .nhan-xet-sp {
    width: 1270px;
  }
}
/*# sourceMappingURL=products.css.map */