* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img,
a,
ul,
li {
  padding: 0;
}

a:active, a:visited, a:hover {
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

ul {
  list-style-type: none;
}

body {
  background-color: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #2f89fc;
  padding-top: 10px;
  font-weight: 500;
}

.header-row1 {
  background-color: #2f89fc;
  z-index: 30;
  position: fixed;
  padding-top: 5px;
  left: 0px;
  top: 0px;
  width: 100vw;
}

.header-row1 .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header-row1 .thong-bao {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-row1 .gio-hang {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-row1 .tai-khoan {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-row1 .header-contain-item {
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: beige;
}

.header-row1 .header-contain-item a {
  color: beige;
}

.input {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input input {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  height: 100%;
  padding-left: 30px;
  border: none;
  border-radius: 10px 0 0 10px;
}

.input button {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border: none;
  line-height: 40px;
  border-radius: 0 10px 10px 0;
  background-color: #f0f0f0;
}

.input .search-icon {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 40px;
  border-radius: 0 10px 10px 0;
  background-color: white;
}

.input .search-icon i {
  color: #2f89fc;
}

.header-contain {
  max-width: 1270px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 50px;
  color: #f0f0f0;
}

.header-row2 {
  margin-top: 50px;
}

.header-row2 .danh-muc {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.header-row2 .sp-moi-xem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
}

.header-row2 .sp-moi-xem ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}

.header-row2 .sp-moi-xem ul li {
  margin: 0 5px;
}

.header-row2 .sp-moi-xem ul li a img {
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.danh-muc-qc {
  position: relative;
}

.danh-muc-qc .danh-muc-qc-contain {
  width: 1270px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.danh-muc-qc .danh-muc-qc-contain .danh-muc-sp {
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #f0f0f0;
}

.danh-muc-qc .danh-muc-qc-contain .danh-muc-sp .danh-muc-sp-contain > li {
  height: 40px;
  font-weight: 300;
}

.danh-muc-qc .danh-muc-qc-contain .danh-muc-sp .danh-muc-sp-contain > li > a {
  padding: 10px 15px;
  position: relative;
  height: 100%;
}

.danh-muc-qc .danh-muc-qc-contain .danh-muc-sp .danh-muc-sp-contain > li > a i {
  padding-right: 15px;
}

.danh-muc-qc .danh-muc-qc-contain .danh-muc-sp .danh-muc-sp-contain > li ul.lv2 {
  display: none;
  width: 1040px;
  height: 540px;
  top: 10px;
  right: 0px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  padding: 20px;
  z-index: 5;
}

.danh-muc-qc .danh-muc-qc-contain .danh-muc-sp .danh-muc-sp-contain > li ul.lv2 a {
  padding: 10px;
  color: black;
}

.danh-muc-qc .danh-muc-qc-contain .danh-muc-sp .danh-muc-sp-contain > li ul.lv2 .lv3 {
  list-style-type: circle;
  padding-left: 30px;
  font-weight: 300;
}

.danh-muc-qc .danh-muc-qc-contain .danh-muc-sp .danh-muc-sp-contain > li ul.lv2 .lv3 li {
  padding: 5px;
  margin: 2px;
}

.danh-muc-qc .danh-muc-qc-contain .danh-muc-sp .danh-muc-sp-contain > li ul.lv2 .lv3 li:hover {
  outline: 1px solid #2f89fc;
  outline-style: dashed;
  outline-width: medium;
  outline-offset: initial;
}

.danh-muc-qc .danh-muc-qc-contain .qc {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  overflow: hidden;
}

.danh-muc-qc .danh-muc-qc-contain .qc .qc-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.for-you-deal {
  width: 1270px;
  background-color: white;
  margin-top: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.for-you-deal .deal-title {
  height: 70px;
  border-bottom: 1px solid #f0f0f0;
}

.for-you-deal .deal-title h3 {
  padding: 15px 0 0 20px;
}

.for-you-deal .deal-title p {
  padding: 5px 20px;
  font-weight: 300;
}

.for-you-deal .for-you-deal-contain {
  background-color: white;
}

.for-you-deal .for-you-deal-contain ul.deal-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

li.product {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  position: relative;
  padding: 25px 10px;
}

li.product .sale {
  position: absolute;
  color: white;
  height: 40px;
  width: 40px;
  line-height: 30px;
  text-align: center;
  top: 10px;
  left: 10px;
  border-radius: 3px;
  background-color: red;
  -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 100%, 0 50%, 0% 0%);
          clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 100%, 0 50%, 0% 0%);
}

li.product img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

li.product .product-name {
  height: 60px;
  padding: 10px;
  font-weight: 300;
  overflow: auto;
}

li.product .product-price-sale {
  padding: 10px;
  font-weight: 500;
}

li.product .product-price {
  text-decoration: line-through;
  font-weight: 300;
}

li.product .danh-gia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 10px;
}

li.product .danh-gia li {
  width: 15px;
  margin: 0;
  color: #ffc120;
}

li.product .danh-gia li:last-child {
  color: black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.muc-quan-tam {
  margin-top: 20px;
}

.muc-quan-tam .muc-quan-tam-contain {
  width: 1270px;
  background-color: white;
}

.tu-khoa-hot .tu-khoa-hot-contain, .danh-rieng .danh-rieng-contain {
  background-color: white;
  width: 1270px;
}

.tu-khoa-hot .tu-khoa-hot-contain .ds-tu-khoa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  padding: 10px 20px;
}

.tu-khoa-hot .tu-khoa-hot-contain .ds-tu-khoa li {
  padding: 20px;
  text-align: center;
}

.muc-quan-tam .muc-quan-tam-contain .muc-quan-tam-title, .tu-khoa-hot .tu-khoa-hot-contain .tu-khoa-hot-title, .danh-rieng .danh-rieng-contain .danh-rieng-title {
  border-bottom: 1px solid #f0f0f0;
  height: 70px;
  padding: 15px 0 0 20px;
  background-color: white;
}

.tu-khoa-hot {
  margin-top: 20px;
}

.tu-khoa-hot .tu-khoa-hot-contain .ds-tu-khoa li {
  padding: 20px;
  height: 90px;
}

.tu-khoa-hot .tu-khoa-hot-contain .ds-tu-khoa li a {
  vertical-align: middle;
  line-height: 50px;
  height: 100%;
  border: 1px solid #2f89fc;
  border-radius: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 10px;
}

.tu-khoa-hot .tu-khoa-hot-contain .ds-tu-khoa li:hover a {
  background-color: #f0f0f0;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.danh-rieng {
  margin-top: 20px;
}

.danh-rieng .danh-rieng-contain .ds-danh-rieng {
  width: 1270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.go-top {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
}

.go-top > a {
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
}

.go-top > a i {
  color: #2f89fc;
}

footer {
  margin-top: 20px;
  background-color: white;
}

footer .footer-contain {
  padding-top: 20px;
  width: 1270px;
}

footer .footer-contain .gioi-thieu {
  border-bottom: 1px solid #f0f0f0;
}

footer .footer-contain .gioi-thieu ul.gioi-thieu-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

footer .footer-contain .gioi-thieu ul.gioi-thieu-contain li.gioi-thieu-lv2 {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding: 0px 40px;
}

footer .footer-contain .gioi-thieu ul.gioi-thieu-contain li.gioi-thieu-lv2 .gioi-thieu-title {
  padding: 10px 0;
}

footer .footer-contain .gioi-thieu ul.gioi-thieu-contain li.gioi-thieu-lv2 ul.gioi-thieu-lv3 {
  list-style-type: circle;
  font-weight: 300;
}

footer .footer-contain .gioi-thieu ul.gioi-thieu-contain li.gioi-thieu-lv2 ul.gioi-thieu-lv3 li a {
  padding: 15px 15px;
}

footer .footer-contain .gioi-thieu ul.gioi-thieu-contain li.gioi-thieu-lv2 ul.icon-app {
  list-style-type: none;
}

footer .footer-contain .gioi-thieu ul.gioi-thieu-contain li.gioi-thieu-lv2 ul.icon-app li a {
  font-size: 1.3rem;
  padding: 15px 0;
  padding-left: 15px;
  margin: 0;
  width: 180px;
  height: 50px;
  line-height: 50px;
}

footer .footer-contain .gioi-thieu ul.gioi-thieu-contain li.gioi-thieu-lv2 ul.icon-app li i {
  padding-right: 10px;
}

footer .footer-contain .dia-chi {
  margin-top: 20px;
  padding: 20px 40px;
}

footer .footer-contain .dia-chi ul li {
  padding: 20px;
  font-weight: 300;
}

footer .footer-contain .ban-quyen {
  border-top: 1px solid #f0f0f0;
  padding: 0px 20px 0px 20px;
  line-height: 20px;
  font-weight: 300;
}

@media (max-width: 480px) {
  .header-contain-item {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
  }
  .mobile-hidden {
    display: none !important;
  }
  .mobile-show {
    display: block !important;
  }
  .logo {
    -webkit-box-flex: 2 !important;
        -ms-flex: 2 !important;
            flex: 2 !important;
  }
  .input-mobile {
    width: 100vw;
    padding: 0 5px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .input-mobile > input {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
  }
  .input-mobile > .search-icon {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    height: 40px;
    line-height: 40px;
    border-radius: 0 10px 10px 0;
    background-color: white;
    text-align: center;
  }
  .input-mobile > .search-icon i {
    color: #2f89fc;
  }
  .danh-muc-qc-contain,
  .for-you-deal,
  .muc-quan-tam-contain,
  .tu-khoa-hot-contain,
  .ds-quan-tam,
  .danh-rieng-contain,
  .ds-danh-rieng,
  .footer-contain {
    width: 100vw !important;
  }
  .sp-moi-xem {
    margin: 0 10px;
  }
  .danh-muc-qc-contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 !important;
  }
  .danh-muc-qc-contain .danh-muc-sp-contain {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
  }
  .danh-muc-qc-contain .danh-muc-sp-contain > li > a {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .danh-muc-qc-contain .qc-hot-product img {
    width: 100vw;
  }
  .danh-muc-qc-contain .qc-product {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
  }
  .danh-muc-qc-contain .qc-product img {
    width: 100%;
  }
  .deal-title {
    padding: 5px 0 0 0px !important;
    height: 50px !important;
  }
  .deal-product,
  .ds-danh-rieng {
    -webkit-box-flex: 30% !important;
        -ms-flex: 30% !important;
            flex: 30% !important;
    padding: 5px !important;
  }
  .sale {
    height: 25px !important;
    width: 25px !important;
    line-height: 19px !important;
  }
  li.product {
    -webkit-box-flex: 30% !important;
        -ms-flex: 30% !important;
            flex: 30% !important;
    padding: 10px 5px;
  }
  li.product a:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .product-name {
    height: 46px !important;
    padding: 0 10px !important;
  }
  .product-price-sale {
    padding: 0 10px !important;
  }
  .xem-them {
    height: 40px;
    background-color: white;
    text-align: center;
  }
  .xem-them > a {
    line-height: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #2f89fc;
    border-radius: 5px;
    margin: 0 auto;
    width: 200px;
  }
  .xem-them > a:active {
    background-color: #2f89fc;
    color: white;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .muc-quan-tam,
  .tu-khoa-hot,
  .danh-rieng {
    margin-top: 5px !important;
  }
  .muc-quan-tam-title,
  .tu-khoa-hot-title,
  .danh-rieng-title {
    height: 50px !important;
  }
  .ds-quan-tam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto;
    padding: 10px 20px;
  }
  .ds-quan-tam li {
    padding: 0 10px;
    text-align: center;
  }
  .ds-quan-tam li img {
    width: 100px;
  }
  .ds-quan-tam li p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0px;
  }
  .ds-quan-tam li:active img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .ds-tu-khoa {
    padding: 0 !important;
  }
  .ds-tu-khoa li {
    height: 60px !important;
    padding: 10px !important;
  }
  .ds-tu-khoa li a {
    line-height: 40px !important;
  }
  .gioi-thieu {
    border: none !important;
  }
  .gioi-thieu-contain {
    padding: 0 !important;
  }
  .gioi-thieu-contain .gioi-thieu-lv2 {
    padding: 0px 20px !important;
  }
  .icon-app li:first-child a {
    color: #4267b2;
  }
  .icon-app li:nth-child(2) a {
    color: #f00;
  }
  .icon-app li:last-child a {
    color: #1da1f2;
  }
  .for-you-deal {
    margin: 0 !important;
  }
  .deal-title > h3 {
    padding-top: 5px !important;
  }
  footer {
    margin-top: 5px !important;
  }
  .footer-contain {
    padding-top: 5px !important;
  }
  .gioi-thieu-contain {
    display: block !important;
  }
  .gioi-thieu-lv3 {
    list-style-type: none !important;
  }
  .gioi-thieu-lv3 > li > a {
    padding: 8px 10px !important;
  }
  .dia-chi {
    padding-left: 20px !important;
    padding-bottom: 5px !important;
  }
  .dia-chi-contain > li {
    padding: 10px !important;
  }
}

@media (min-width: 481px) and (max-width: 1270px) {
  .mobile-show {
    display: none !important;
  }
  .logo {
    -webkit-box-flex: 2 !important;
        -ms-flex: 2 !important;
            flex: 2 !important;
  }
  .product-name {
    overflow: hidden !important;
  }
  .input {
    -webkit-box-flex: 10 !important;
        -ms-flex: 10 !important;
            flex: 10 !important;
  }
  .danh-muc-qc-contain,
  .for-you-deal,
  .muc-quan-tam-contain,
  .tu-khoa-hot-contain,
  .ds-quan-tam,
  .danh-rieng-contain,
  .ds-danh-rieng,
  .footer-contain {
    width: 100vw !important;
  }
  .tablet-hidden {
    display: none !important;
  }
  .tablet-show {
    display: block !important;
  }
  .sp-moi-xem {
    margin: 0 10px;
  }
  ul.gioi-thieu-lv3 {
    list-style-type: none !important;
  }
  .danh-muc-qc-contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .danh-muc-qc-contain .danh-muc-sp-contain {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
  }
  .danh-muc-qc-contain .danh-muc-sp-contain > li > a {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .danh-muc-qc-contain .qc-hot-product img {
    width: 100vw;
  }
  .danh-muc-qc-contain .qc-product {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
  }
  .danh-muc-qc-contain .qc-product img {
    width: 100%;
  }
  .danh-muc-qc-contain .deal-product {
    -webkit-box-flex: 30% !important;
        -ms-flex: 30% !important;
            flex: 30% !important;
    padding: 10px !important;
  }
  li.product {
    -webkit-box-flex: 25% !important;
        -ms-flex: 25% !important;
            flex: 25% !important;
    padding: 10px 5px;
  }
  li.product a:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .sale {
    height: 30px !important;
    width: 30px !important;
    line-height: 27px !important;
  }
  .xem-them {
    height: 50px;
    background-color: white;
    text-align: center;
  }
  .xem-them > a {
    line-height: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #2f89fc;
    border-radius: 5px;
    margin: 0 auto;
    width: 400px;
  }
  .xem-them > a:active {
    background-color: #2f89fc;
    color: white;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .ds-quan-tam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto;
    padding: 10px 20px;
  }
  .ds-quan-tam li {
    padding: 10px;
    text-align: center;
  }
  .ds-quan-tam li img {
    width: 100px;
  }
  .ds-quan-tam li p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px;
  }
  .ds-quan-tam li:active img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .ds-tu-khoa {
    padding: 0 !important;
  }
  .ds-danh-rieng {
    padding: 10px !important;
  }
  .gioi-thieu {
    border: none !important;
  }
  .gioi-thieu-contain {
    padding: 0 !important;
  }
  .gioi-thieu-contain .gioi-thieu-lv2 {
    padding: 0px 20px !important;
  }
  .icon-app li:first-child a {
    color: #4267b2;
  }
  .icon-app li:nth-child(2) a {
    color: #f00;
  }
  .icon-app li:last-child a {
    color: #1da1f2;
  }
}

@media (min-width: 1271px) {
  .mobile-show {
    display: none !important;
  }
  .tablet-show {
    display: none !important;
  }
  .danh-muc-qc-contain .danh-muc-sp {
    padding: 10px;
  }
  .qc {
    height: 540px;
  }
  ul.qc-contain > li:nth-child(2) img {
    height: 360px;
    width: 410px;
  }
  .danh-muc-sp-contain > li:hover > a {
    color: white;
    background-color: #2f88fc;
  }
  .danh-muc-sp-contain > li:hover > a::after {
    z-index: 10;
    -webkit-clip-path: polygon(48% 0, 100% 50%, 48% 100%, 25% 100%, 25% 50%, 25% 0%);
            clip-path: polygon(48% 0, 100% 50%, 48% 100%, 25% 100%, 25% 50%, 25% 0%);
    content: "";
    border: 20px solid #2f88fc;
    position: absolute;
    right: -29px;
    top: 0;
  }
  .danh-muc-sp-contain > li:hover .lv2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  li.product:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .xem-them {
    height: 60px;
    background-color: white;
    text-align: center;
    line-height: 50px;
  }
  .xem-them a {
    height: 50px;
    background-color: transparent;
    border: 1px solid #2f89fc;
    border-radius: 5px;
    margin: 0 auto;
    width: 400px;
  }
  .xem-them a:hover {
    background-color: #2f89fc;
    color: white;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .ds-quan-tam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1270px;
    overflow-y: auto;
    padding: 10px 20px;
  }
  .ds-quan-tam li {
    padding: 20px;
    text-align: center;
  }
  .ds-quan-tam li img {
    width: 150px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
  }
  .ds-quan-tam li p {
    padding: 15px;
  }
  .ds-quan-tam li:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  ul.icon-app li:first-child:hover a {
    color: #4267b2;
  }
  ul.icon-app li:nth-child(2):hover a {
    color: #f00;
  }
  ul.icon-app li:last-child:hover a {
    color: #1da1f2;
  }
}
/*# sourceMappingURL=style.css.map */