$mau-sang: #2f89fc;
$mau-nen: #f0f0f0;

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}

img,
a,
ul,
li {
  padding: 0;
}
a:active, a:visited, a:hover{
  text-decoration: none;
}
a {
  color: black;
  text-decoration: none;
  display: block;
}
ul {
  list-style-type: none;
}
body {
  background-color: $mau-nen;
}
html {
  scroll-behavior: smooth;
}
header {
  background-color: $mau-sang;
  padding-top: 10px;
  font-weight: 500;
}
.header-row1 {
  background-color: $mau-sang;
  z-index: 30;
  position: fixed;
  padding-top: 5px;
  left: 0px;
  top: 0px;
  width: 100vw;
  .logo {
    flex: 1;
    display: flex;
    justify-content: start;
    // h3 {
    //   background-image: url(../images/logo/Asset115px.png);
    //   background-repeat: no-repeat;
    //   background-size: contain;
    //   background-position: center;
    //   margin: 0;
    // }
  }
  .thong-bao {
    flex: 1;
  }
  .gio-hang {
    flex: 1;
  }
  .tai-khoan {
    flex: 1;
  }
  .header-contain-item {
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: beige;
    a {
      color: beige;
    }
  }
}
.input {
  flex: 8;
  position: relative;
  display: flex;
  input {
    flex: 8;
    height: 100%;
    padding-left: 30px;
    border: none;
    border-radius: 10px 0 0 10px;
  }
  button {
    flex: 2;
    border: none;
    line-height: 40px;
    border-radius: 0 10px 10px 0;
    background-color: $mau-nen;
  }
  .search-icon {
    display: none;
    flex: 1;
    line-height: 40px;
    border-radius: 0 10px 10px 0;
    background-color: white;
    i {
      color: $mau-sang;
    }
  }
}
.header-contain {
  max-width: 1270px;
  height: 50px;
  display: flex;
  line-height: 50px;
  color: $mau-nen;
}
.header-row2 {
  margin-top: 50px;
  .danh-muc {
    flex: 3;
  }
  .sp-moi-xem {
    display: flex;
    height: 45px;
    ul {
      display: flex;
      justify-content: flex-start;
      overflow: hidden;
      li {
        margin: 0 5px;
        a {
          img {
            height: 45px;
            object-fit: cover;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
.danh-muc-qc {
  position: relative;
  .danh-muc-qc-contain {
    width: 1270px;
    //height: 550px;
    padding-top: 10px;
    display: flex;
    position: relative;
    .danh-muc-sp {
      background-color: white;
      flex: 1;
      border-right: 1px solid $mau-nen;
      .danh-muc-sp-contain {
        > li {
          height: 40px;
          font-weight: 300;
          > a {
            padding: 10px 15px;
            position: relative;
            height: 100%;
            i {
              padding-right: 15px;
            }
          }
          ul.lv2 {
            display: none;
            width: 1040px;
            height: 540px;
            top: 10px;
            right: 0px;
            position: absolute;
            background-color: white;
            overflow: hidden;
            padding: 20px;
            z-index: 5;
            a {
              padding: 10px;
              color: black;
            }
            .lv3 {
              list-style-type: circle;
              padding-left: 30px;

              font-weight: 300;
              li {
                padding: 5px;
                margin: 2px;
                &:hover {
                  outline: 1px solid $mau-sang;
                  outline-style: dashed;
                  outline-width: medium;
                  outline-offset: initial;
                }
              }
            }
          }
        }
      }
    }
    .qc {
      flex: 5;
      overflow: hidden;
      .qc-contain {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
.for-you-deal {
  width: 1270px;
  background-color: white;
  margin-top: 20px;
  border-bottom: 1px solid $mau-nen;
  .deal-title {
    height: 70px;
    border-bottom: 1px solid $mau-nen;
    h3 {
      padding: 15px 0 0 20px;
    }
    p {
      padding: 5px 20px;
      font-weight: 300;
    }
  }
  .for-you-deal-contain {
    background-color: white;
    ul.deal-product {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
    }
  }
}
li.product {
  flex: 20%;
  position: relative;
  padding: 25px 10px;
  .sale {
    position: absolute;
    color: white;
    height: 40px;
    width: 40px;
    line-height: 30px;
    text-align: center;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 100%, 0 50%, 0% 0%);
  }
  img {
    width: 90%;
    object-fit: cover;
  }
  .product-name {
    height: 60px;
    padding: 10px;
    font-weight: 300;

    overflow: auto;
  }
  .product-price-sale {
    padding: 10px;

    font-weight: 500;
  }
  .product-price {
    text-decoration: line-through;
    font-weight: 300;
  }
  .danh-gia {
    display: flex;
    justify-content: start;
    padding: 0 10px;

    li {
      width: 15px;
      margin: 0;
      color: #ffc120;
    }
    li:last-child {
      color: black;
      width: max-content;
    }
  }
}
.muc-quan-tam {
  margin-top: 20px;
  .muc-quan-tam-contain {
    width: 1270px;
    background-color: white;
    .muc-quan-tam-title {
      @extend %title-danh-muc;
    }
  }
}
%contain {
  background-color: white;
  width: 1270px;
}
%ul-list {
  display: flex;
  overflow-y: auto;
  padding: 10px 20px;
  li {
    padding: 20px;
    //width: 200px;
    text-align: center;
  }
}
%title-danh-muc {
  border-bottom: 1px solid $mau-nen;
  height: 70px;
  padding: 15px 0 0 20px;

  background-color: white;
}
.tu-khoa-hot {
  margin-top: 20px;
  .tu-khoa-hot-contain {
    @extend %contain;
    .tu-khoa-hot-title {
      @extend %title-danh-muc;
    }
    .ds-tu-khoa {
      @extend %ul-list;
      li {
        padding: 20px;
        height: 90px;
        a {
          vertical-align: middle;
          line-height: 50px;
          height: 100%;
          border: 1px solid $mau-sang;
          border-radius: 10px;
          width: max-content;
          padding: 0 10px;
        }
        &:hover a {
          background-color: $mau-nen;
          transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
      }
    }
  }
}
.danh-rieng {
  margin-top: 20px;
  .danh-rieng-contain {
    @extend %contain;
    .danh-rieng-title {
      @extend %title-danh-muc;
    }
    .ds-danh-rieng {
      width: 1270px;
      display: flex;
      padding: 20px;
      flex-wrap: wrap;
    }
  }
}
.go-top {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  > a {
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    i {
      color: #2f89fc;
    }
  }
}
footer {
  margin-top: 20px;
  background-color: white;
  .footer-contain {
    padding-top: 20px;
    width: 1270px;
    .gioi-thieu {
      border-bottom: 1px solid $mau-nen;
      ul.gioi-thieu-contain {
        display: flex;
        padding: 20px;
        li.gioi-thieu-lv2 {
          flex: 30%;
          border-left: 1px solid $mau-nen;
          border-right: 1px solid $mau-nen;
          padding: 0px 40px;
          .gioi-thieu-title {
            padding: 10px 0;
          }
          ul.gioi-thieu-lv3 {
            list-style-type: circle;
            font-weight: 300;
            li a {
              padding: 15px 15px;
            }
          }
          ul.icon-app {
            list-style-type: none;

            li {
              a {
                font-size: 1.3rem;
                padding: 15px 0;
                padding-left: 15px;
                margin: 0;
                width: 180px;
                height: 50px;
                line-height: 50px;
              }
              i {
                padding-right: 10px;
              }
            }
          }
        }
      }
    }
    .dia-chi {
      margin-top: 20px;
      padding: 20px 40px;
      ul li {
        padding: 20px;
        font-weight: 300;
      }
    }
    .ban-quyen {
      border-top: 1px solid $mau-nen;
      padding: 0px 20px 0px 20px;
      line-height: 20px;

      font-weight: 300;
    }
  }
}
@media (max-width: 480px) {
  .header-contain-item {
    flex: 1 !important;
  }
  .mobile-hidden {
    display: none !important;
  }
  .mobile-show {
    display: block !important;
  }
  .logo {
    flex: 2 !important;
  }
  .input-mobile {
    width: 100vw;
    padding: 0 5px;
    display: flex !important;
    > input {
      flex: 8;
      height: 40px;
      padding-left: 10px;
      border: none;
      border-radius: 10px 0 0 10px;
    }
    > .search-icon {
      flex: 1.5;
      height: 40px;
      line-height: 40px;
      border-radius: 0 10px 10px 0;
      background-color: white;
      text-align: center;
      i {
        color: $mau-sang;
      }
    }
  }
  .danh-muc-qc-contain,
  .for-you-deal,
  .muc-quan-tam-contain,
  .tu-khoa-hot-contain,
  .ds-quan-tam,
  .danh-rieng-contain,
  .ds-danh-rieng,
  .footer-contain {
    width: 100vw !important;
  }
  .sp-moi-xem {
    margin: 0 10px;
  }

  .danh-muc-qc-contain {
    flex-direction: column;
    padding: 0 !important;
    .danh-muc-sp-contain {
      width: 100vw;
      display: flex;
      overflow-y: scroll;
      > li > a {
        width: max-content;
      }
    }
    .qc-hot-product {
      img {
        width: 100vw;
      }
    }
    .qc-product {
      flex: 30%;
      img {
        width: 100%;
      }
    }
  }
  .deal-title {
    padding: 5px 0 0 0px !important;
    height: 50px !important;
  }
  .deal-product,
  .ds-danh-rieng {
    flex: 30% !important;
    padding: 5px !important;
  }
  .sale {
    height: 25px !important;
    width: 25px !important;

    line-height: 19px !important;
  }
  li.product {
    flex: 30% !important;
    padding: 10px 5px;
    a:active {
      transform: scale(1.1);
    }
  }
  .product-name {
    height: 46px !important;
    padding: 0 10px !important;
  }
  .product-price-sale {
    padding: 0 10px !important;
  }
  .xem-them {
    height: 40px;
    background-color: white;
    text-align: center;
    > a {
      line-height: 30px;
      height: 30px;
      background-color: transparent;
      border: 1px solid $mau-sang;
      border-radius: 5px;
      margin: 0 auto;
      width: 200px;
      &:active {
        background-color: $mau-sang;
        color: white;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
      }
    }
  }
  .muc-quan-tam,
  .tu-khoa-hot,
  .danh-rieng {
    margin-top: 5px !important;
  }
  .muc-quan-tam-title,
  .tu-khoa-hot-title,
  .danh-rieng-title {
    height: 50px !important;
  }
  .ds-quan-tam {
    display: flex;
    overflow-y: auto;
    padding: 10px 20px;
    li {
      padding: 0 10px;
      text-align: center;
      img {
        width: 100px;
      }
      p {
        width: max-content;
        padding: 0px;
      }
      &:active img {
        transform: scale(1.1);
      }
    }
  }
  .ds-tu-khoa {
    padding: 0 !important;

    li {
      height: 60px !important;
      padding: 10px !important;
      a {
        line-height: 40px !important;
      }
    }
  }
  .gioi-thieu {
    border: none !important;
  }
  .gioi-thieu-contain {
    padding: 0 !important;
    .gioi-thieu-lv2 {
      padding: 0px 20px !important;
    }
  }
  .icon-app {
    li:first-child a {
      color: #4267b2;
    }
    li:nth-child(2) a {
      color: #f00;
    }
    li:last-child a {
      color: rgb(29, 161, 242);
    }
  }
  .for-you-deal {
    margin: 0 !important;
  }
  .deal-title > h3 {
    padding-top: 5px !important;
  }
  footer {
    margin-top: 5px !important;
  }
  .footer-contain {
    padding-top: 5px !important;
  }
  .gioi-thieu-contain {
    display: block !important;
  }
  .gioi-thieu-lv3 {
    list-style-type: none !important;
    > li > a {
      padding: 8px 10px !important;
    }
  }
  .dia-chi {
    padding-left: 20px !important;
    padding-bottom: 5px !important;
  }
  .dia-chi-contain > li {
    padding: 10px !important;
  }
}

@media (min-width: 481px) and (max-width: 1270px) {
  .mobile-show {
    display: none !important;
  }
  .logo {
    flex: 2 !important;
  }
  .product-name {
    overflow: hidden !important;
  }
  .input {
    flex: 10 !important;
  }
  .danh-muc-qc-contain,
  .for-you-deal,
  .muc-quan-tam-contain,
  .tu-khoa-hot-contain,
  .ds-quan-tam,
  .danh-rieng-contain,
  .ds-danh-rieng,
  .footer-contain {
    width: 100vw !important;
  }
  .tablet-hidden {
    display: none !important;
  }
  .tablet-show {
    display: block !important;
  }
  .sp-moi-xem {
    margin: 0 10px;
  }
  ul.gioi-thieu-lv3{
    list-style-type: none !important;
  }
  .danh-muc-qc-contain {
    flex-direction: column;
    .danh-muc-sp-contain {
      width: 100vw;
      display: flex;
      overflow-y: scroll;
      > li > a {
        width: max-content;
      }
    }
    
    .qc-hot-product {
      img {
        width: 100vw;
      }
    }
    .qc-product {
      flex: 30%;
      img {
        width: 100%;
      }
    }
    .deal-product {
      flex: 30% !important;
      padding: 10px !important;
    }
  }
  li.product {
    flex: 25% !important;
    padding: 10px 5px;
    a:active {
      transform: scale(1.1);
    }
  }
  .sale {
    height: 30px !important;
    width: 30px !important;

    line-height: 27px !important;
  }
  .xem-them {
    height: 50px;
    background-color: white;
    text-align: center;
    > a {
      line-height: 40px;
      height: 40px;
      background-color: transparent;
      border: 1px solid $mau-sang;
      border-radius: 5px;
      margin: 0 auto;
      width: 400px;
      &:active {
        background-color: $mau-sang;
        color: white;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
      }
    }
  }
  .ds-quan-tam {
    display: flex;
    overflow-y: auto;
    padding: 10px 20px;
    li {
      padding: 10px;
      text-align: center;
      img {
        width: 100px;
      }
      p {
        width: max-content;
        padding: 10px;
      }
      &:active img {
        transform: scale(1.1);
      }
    }
  }
  .ds-tu-khoa {
    padding: 0 !important;
  }
  .ds-danh-rieng {
    padding: 10px !important;
  }
  .gioi-thieu {
    border: none !important;
  }
  .gioi-thieu-contain {
    padding: 0 !important;
    .gioi-thieu-lv2 {
      padding: 0px 20px !important;
    }
  }
  .icon-app {
    li:first-child a {
      color: #4267b2;
    }
    li:nth-child(2) a {
      color: #f00;
    }
    li:last-child a {
      color: rgb(29, 161, 242);
    }
  }
}

@media (min-width: 1271px) {
  .mobile-show {
    display: none !important;
  }
  .tablet-show {
    display: none !important;
  }
  .danh-muc-qc-contain {
    .danh-muc-sp {
      padding: 10px;
    }
  }
  .qc{
    height: 540px;
  }
  ul.qc-contain > li:nth-child(2) img{
    height: 360px;
    width: 410px;
  }
  .danh-muc-sp-contain {
    > li {
      &:hover > a {
        color: white;
        background-color: rgba(47, 136, 252, 1);
        &::after {
          z-index: 10;
          clip-path: polygon(
            48% 0,
            100% 50%,
            48% 100%,
            25% 100%,
            25% 50%,
            25% 0%
          );
          content: "";
          border: 20px solid rgba(47, 136, 252, 1);
          position: absolute;
          right: -29px;
          top: 0;
        }
      }
      &:hover {
        .lv2 {
          display: flex !important;
        }
      }
    }
  }
  li.product {
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
      transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }
  .xem-them {
    height: 60px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    a {
      height: 50px;
      background-color: transparent;
      border: 1px solid $mau-sang;
      border-radius: 5px;
      margin: 0 auto;
      width: 400px;
      &:hover {
        background-color: $mau-sang;
        color: white;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
      }
    }
  }
  .ds-quan-tam {
    display: flex;
    width: 1270px;
    overflow-y: auto;
    padding: 10px 20px;
    li {
      padding: 20px;
      text-align: center;
      img {
        width: 150px;
        border-radius: 10px;
        border: 1px solid $mau-nen;
      }
      p {
        padding: 15px;
      }
      &:hover img {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
      }
    }
  }
  ul.icon-app {
    li:first-child:hover a {
      color: #4267b2;
    }
    li:nth-child(2):hover a {
      color: #f00;
    }
    li:last-child:hover a {
      color: rgb(29, 161, 242);
    }
  }
}
